<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spirometer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Spirometer.Properties.Settings>
            <setting name="caliValList" serializeAs="String">
                <value />
            </setting>
            <setting name="filePath" serializeAs="String">
                <value />
            </setting>
            <setting name="caliValListP" serializeAs="String">
                <value />
            </setting>
            <setting name="minPresure" serializeAs="String">
                <value />
            </setting>
            <setting name="maxPresure" serializeAs="String">
                <value />
            </setting>
            <setting name="caliValListN" serializeAs="String">
                <value />
            </setting>
        </Spirometer.Properties.Settings>
    </userSettings>
</configuration>